html {
    height: 100%;
}

body {
    font-family: "Press Start 2P", "sans serif";
    font-size: 0.8rem;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pokedex {
    background-image: url(../img/gameboy-advance.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 676px;
    height: 405px;
    position: relative;
}

.search {
    position: absolute;
    left: 0;
    right: 0;
    top: -2.4rem;
    text-align: center;
    line-height: 1.5;
}

#pokemon-search {
    margin-top: 0.5rem;
}

.display {
    background-color: #F8F8F8;
    width: 18.4rem;
    height: 12.7rem;
    position: absolute;
    top: 4.875rem;
    left: 12.4rem;
    border-radius: 0.0625rem;
    display: grid;
    grid-template-areas: "image details""limiter limiter""fact fact";
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 6.7rem 0.4rem 1fr;
}

#pokemon-img-container {
    background-size: auto 100%;
    background-position: center;
    width: 6rem;
    aspect-ratio: 1;
    grid-area: image;
    position: relative;
    justify-self: center;
}

#pokemon-id {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    text-align: center;
}

#pokemon-details {
    grid-area: details;
}

#pokemon-details>* {
    margin-top: 0.8rem;
}

#pokemon-limiter {
    grid-area: limiter;
    background-color: black;
}

#pokemon-fact {
    grid-area: fact;
    margin: 0 0.5rem;
    line-height: 1.8;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#pokemon-fact::-webkit-scrollbar {
    display: none;
}

#up-btn {
    width: 28px;
    aspect-ratio: 1;
    position: absolute;
    top: 125px;
    left: 91.7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}

#right-btn {
    width: 28px;
    aspect-ratio: 1;
    position: absolute;
    top: 153.1px;
    left: 119.7px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

#down-btn {
    width: 28px;
    aspect-ratio: 1;
    position: absolute;
    top: 180.1px;
    left: 90.7px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

#left-btn {
    width: 28px;
    aspect-ratio: 1;
    position: absolute;
    top: 152.9px;
    left: 63.7px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

#tip {
    position: fixed;
    bottom: 1rem;
    left: 3rem;
    width: 20rem;
    background-color: lightblue;
    padding: 0.8rem;
    line-height: 1.8;
    display: flex;
}

#close-tip {
    align-self: center;
    padding: 0.2rem;
    cursor: pointer;
}

#close-tip:hover {
    background-color: hsl(195, 53%, 40%);
    color: white;
}